<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :agreement %>
    <%= f.input :status %>
    <%# f.association :profile %>
    <%= f.association :categories, as: :select %>
    <%= f.association :authors, as: :select %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
