<p id="notice"><%= notice %></p>

<h1 class="text-center">Books</h1>

<div class="row">
  <% @books.each do |book| %>
    <div class="col-md-5 thumbnail">
      <div class="row">
        <div class="col-md-4">
          <img src="" alt="">
        </div>
        <div class="col-md-8">
          <h3><%= link_to book.title, book_path(book) %></h3>
          <p><%= book.description %></p>
          <p><%= book.user.name %></p>
          <p>*****</p>
          <p>photos.count</p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Book', new_book_path %>
